.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    margin-top: 30px;
    width: 480px;
}

fieldset {
    width: 400px;
    border-radius: 10px;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
}

legend {
    background: #3A3D52;
    width: 100px;
    height: 100px;
    margin-left: 168px;
    border-radius: 50px;
}

h3 {
    position: relative;
    padding-top: 18px;
    text-align: center;
    color: #FF6D2E;
}

h2 {
    text-align: center;
    font-size: 0.9em;
    color: lightgrey;
    padding-top: 10px;
}

input {
    width: 170px;
    height: 50px;
    margin-left: 30px;
    margin-top: 15px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid lightgrey;
    color: #7D7769;
    font-weight: bold;
}

input:focus {
    border: 1px solid rgba(255, 109, 46, 0.6);
    box-shadow: 0 0 3px rgba(255, 109, 46, 0.6);
    outline: none;
    font-size: 1.1em;
}

button {
    background: #fff;
    border: 1px solid transparent;
    border-radius: 10px;
    width: 120px;
    height: 50px;
    margin-left: 20px;
    margin-top: 15px;
    color: #7D7769;
}

button:hover {
    background: #FBF7EF;
    border-radius: 10px;
}

button:focus {
    border: 1px solid rgba(255, 109, 46, 0.6);
    box-shadow: 0 0 3px rgba(255, 109, 46, 0.6);
    outline: none;
    font-size: 1.1em;
}

.fa-facebook {
    color: #4F79A7;
}

.fa-google-plus {
    color: #D64E3C;
}

.fa-twitter {
    color: #4ECDED;
}

.fa-facebook,
.fa-google-plus,
.fa-twitter {
    padding: 8px;
}

input[type=submit] {
    background: #FF9D73;
    color: #3A3D52;
    margin: 20px 140px 30px;
}

input[type=submit]:hover {
    background: #FF8652;
}